/* 
Author URI: http://webthemez.com/ 
Donate to remove backlink form the template.
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

.page-section {
	width: 100%;
	height: auto;
	padding: 65px 0;
}
/***************************************/
.colord {
	background: #23CA9D;
	background: #4a97f0;
}
.colord p {
	color: #FFFFFF;
}
.colord h3 {
	color: #000;
}


/*  
    -------------------------------------------------*/
img, video, iframe, embed, object {
	max-width: 100%;
	height: auto;
}

#aboutUs {
	background: #FFFFFF;
	padding-top: 35px;
	padding-bottom: 25px;
	overflow: hidden;
	color: #4a97f0;
}
#aboutUs p{
color: #212C29;
}
#aboutUs .feature {
	margin-top: 30px;
	margin-bottom: 54px;
}
#aboutUs .right {
	padding-left: 32px;
	float: right;
}
#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs h3 {
	font: 18px/34px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #222;
}
.row .six {
	width: 50%;
}

